
#action button{
    background-color: #8357c5;
    border: none;
    border-bottom: 6px solid #693cad;
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
    padding: 24px;
    width: 600px;
}


#action button:hover{    
    background: rgb(34, 11, 34);
}